.CurrentWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.CurrentWeather .ConditionText{
    font-size: 5em;
}

.CurrentWeather .WeatherIcon{
    width: 500px;
    margin: 100px 0;
}

.CurrentWeather .HighLowText{
    font-size: 2em;
}