.WeatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    flex: 1;
    overflow: auto;
}

.WeatherIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}