.CurrentWeather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.CurrentWeather-ContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CurrentWeather .ConditionText,
.CurrentWeather-DefaultText {
    font-size: 5em;
    text-align: center;
}

.CurrentWeather .WeatherIcon {
    height: 300px;
    width: 400px;
    margin: 75px 0;
}

.CurrentWeather .HighLowText {
    font-size: 2em;
}

.CurrentWeather-ErrorText {
    font-size: 3em;
}

.CurrentWeather-DefaultText,
.CurrentWeather-ErrorText {
    line-height: 1.5em;
    margin: 0;
}

.CurrentWeather-DefaultText~.WeatherIcon,
.CurrentWeather-DefaultText~.HighLowText {
    opacity: 0.25;
}