.WeatherTile {
    width: 200px;
    aspect-ratio: 1 / 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.WeatherTile img {
    width: 73%;
}

.WeatherTile p {
    line-break: 1em;
    margin: 15px 0 0 0;
    font-family: Helvetica;
    font-weight: 300;
}

.Bold{
    font-weight: 600;
}