.PercentPrecip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PercentPrecip img {
    height: 1.75em;
    width: auto;
    margin-right: 7px;
}

.PercentPrecip p {
    margin: 0;
    line-height: 100%;
}