/* Ensure a blank slate */
#root {
    margin: 0;
}

/* Global Vars */
:root{
    /* Fonts */
    --font-family-bold: stratos, "Helvetica", sans-serif;
    --font-family-light: stratos-lights, "Helvetica", sans-serif;

    /* Colors */
    --soft-black: rgb(44, 44, 44);
    --soft-white: rgb(255, 247, 244);

    /* Borders */
    --border-radius: 10px;
    --border: 2px solid var(--soft-black);

    /* DropShadow */
    --box-shadow: 10px 10px 0 var(--soft-black);
}

/* Defaults */
* {
    box-sizing: border-box;
}

body{
    margin: 0 /* ensure a blank slate */;
    font-family: var(--font-family-light);
    font-weight: 200;
    font-size: 12pt;
}

/* Generic Style Classes */
.Bold{
    font-family: var(--font-family-bold);
    font-weight: 500;
}

.SemiBold{
    font-family: var(--font-family-bold);
    font-weight: 400;
}